<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742438237263-85g7kfkctv6umatd36et4fp1mpeta6mc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742438237263-85g7kfkctv6umatd36et4fp1mpeta6mc</string>
	<key>API_KEY</key>
	<string>AIzaSyBkbpBsjY_EoKr4HzLEDnOzzn5tXEw8-kQ</string>
	<key>GCM_SENDER_ID</key>
	<string>742438237263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nutriLens</string>
	<key>PROJECT_ID</key>
	<string>nutrilens-9d14f</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrilens-9d14f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742438237263:ios:e07bb602ad3ab2821f263a</string>
</dict>
</plist>